<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="transparent"/>
    <title>School</title>

</head>
<body>
<div id="root"></div>

<noscript>
    <p>JavaScript is disabled in your browser.</p>
    <p>This site will not work without it.</p>
    <p>Here are the <a href="https://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</p>
</noscript>

</body>
</html>
